* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #7cff72;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    width: 90%;
    height: 90vh;
}

.sidebar {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sidebar button {
    width: 90%;
    aspect-ratio: 1/1;
    border: 2px solid black;
    border-radius: 10px;
    background: white;
}

.screen{
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.center{
    flex-basis: 0;
    flex-grow: 1;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-box {
    flex: 1;
    border: 2px solid black;
    border-radius: 15px;
    background: white;
    margin-left: 2%;
}

.bottom-box {
    flex: 1;
    border: 2px solid black;
    border-radius: 15px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-box {
    flex-basis: 0;
    flex-grow: 1;
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:2%;
}

.radio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: white;
    margin: 0;
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
}

.buy-sell-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 10px;
}

.buy-sell-buttons button {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
    background: white;
}

.news {
    flex: 1;
    border: 2px solid black;
    border-radius: 15px;
    background: white;
    flex-basis: 0;
    flex-grow: 1;
    margin-left: 2%;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .sidebar {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .main, .news {
        width: 100%;
        margin-left: 0;
    }

    .bottom-box {
        flex-direction: column;
    }
}