* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #5a9156;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    width: 90%;
    height: 90vh;
}


.screen{
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.center{
    flex-basis: 0;
    flex-grow: 1;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-box {
    flex: 1;
    border: 2px solid black;
    border-radius: 15px;
    background: white;
    margin-left: 20px;
}

.bottom-box {
    flex: 3;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 15px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tri-flex {
    display: flex;
    flex: 3;
    flex-direction: row;
    justify-content: space-between;
}

.tri-flex-col {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 8px;
    padding-top: 8px;
}
.bi-flex {
    display: flex;
    flex: 3;
    flex-direction: row;
    justify-content: space-around;
}

.counter-flex {
    flex-basis: 0;
    flex-grow: 1;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.top-box {
    flex-basis: 0;
    flex-grow: 1;
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.radio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: white;
    margin: 0;
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
}

.buy-sell-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 15px;
}

.buy-sell-buttons button {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 15px;
    background: white;
    box-shadow: 0px 4px 0px black;
    font-size: 20px;
}

.buy-sell-buttons button:hover {
    box-shadow: 0px 2px 0px black;
    margin-top: +2px;
    margin-bottom: -2px;
}

.buy-sell-buttons button:active {
    box-shadow: 0px 0px 0px black;
    margin-top: +4px;
    margin-bottom: -4px;
}

.news {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 15px;
    background: white;
    flex-basis: 0;
    flex-grow: 1;
    margin-left: 20px;
    padding-bottom: 5px; 
}

.comment {
    border: 2px solid black;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 25%;
}



/* @media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .sidebar {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .main, .news {
        width: 100%;
        margin-left: 0;
    }

    .bottom-box {
        flex-direction: column;
    }
} */

.counter-body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.counter-container {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
}

.counter-btn {
    width: 50px;
    height: 40px;
    border: 2px solid black;
    border-radius: 15px;
    background: white;
    box-shadow: 0px 4px 0px black;
    font-size: 20px;
}

.counter-btn:hover {
    box-shadow: 0px 2px 0px black;
    transform: translate(0, 2px);
}

.counter-btn:active {
    box-shadow: 0px 0px 0px black;
    transform: translate(0, 4px);
}

.reset {
    width: 80px;
}

#counter-value {
    font-size: 20px;
    font-weight: bold;
}

#multiplier {
    font-size: 18px; 
}

#increase {
    font-size: 24px;
    font-weight: bold;
}

#decrease {
    font-size: 24px;
    font-weight: bold;
}