* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #5a9156;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    width: 90%;
    height: 90vh;
}


.screen{
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.center{
    flex-basis: 0;
    flex-grow: 1;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-box {
    display: flex;
    flex: 3;
    flex-direction:column;
    border: 2px solid black;
    border-radius: 15px;
    background: white;
    margin-left: 20px;
}

.bottom-box {
    flex: 5;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 15px;
    background: white;
    display: flex;
    justify-content: space-between;
    padding:20px;
}

.tri-flex {
    display: flex;
    flex: 3;
    flex-direction: row;
    justify-content: space-between;
}

.tri-flex-col {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 8px;
    padding-top: 8px;
}
.bi-flex {
    display: flex;
    flex: 3;
    flex-direction: row;
    justify-content: space-around;
}

.counter-flex {
    flex-basis: 0;
    flex-grow: 1;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.top-box {
    flex-basis: 0;
    flex-grow: 1;
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.radio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: white;
    margin: 0;
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
}

.bottom-box button {
    border: 2px solid black;
    border-radius: 15px;
    background: white;
    box-shadow: 0px 4px 0px black;
    font-size: 20px;
}

.bottom-box button:hover {
    box-shadow: 0px 2px 0px black;
    transform: translate(0, 2px);
}

.bottom-box button:active {
    box-shadow: 0px 0px 0px black;
    transform: translate(0, 4px);
}

.buy-sell-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 0px;
}

.buy-sell-buttons button {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 15px;
    background: white;
    box-shadow: 0px 4px 0px black;
    font-size: 20px;
}

.buy-sell-buttons button:hover {
    box-shadow: 0px 2px 0px black;
}

.buy-sell-buttons button:active {
    box-shadow: 0px 0px 0px black;
}

.news {
    border: 2px solid black;
    border-radius: 15px;
    background: white;
    flex-basis: 0;
    flex-grow: 1;
    margin-left: 20px;
    padding-bottom: 5px; 
}

.comment {
    border: 2px solid black;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 20%;
    vertical-align: middle;
    line-height:normal;
    font-family: 'Trebuchet MS', sans-serif;
    font-size:80%;
    box-shadow: 0px 4px 0px black;
}

.likes {
    margin-top:10px;
    margin-right:10px;
    text-align: center;
    font-size:150%;
}

.comment-text {
    display: flex;
    align-items: center;
    margin:10px;
    margin-left: 15px;
    margin-right: 0px;
}

.financial-block {
    width:50%;
    height:100%; 
    display:flex; 
    flex:2; 
    flex-direction:column; 
    justify-content:space-between;
    margin-left: 10px;
}

.financial-point2 {
    border: 2px solid black;
    border-radius: 15px; 
    box-shadow: 0px 4px 0px black;
    height: 45%;
    vertical-align: middle;
    text-align: center;
    line-height:normal;
    font-family: 'Trebuchet MS', sans-serif;
    font-size:120%;
    font-weight: bold;
    padding: 5px;
}

.financial-point1 {
    border: 2px solid black;
    border-radius: 15px; 
    box-shadow: 0px 4px 0px black;
    height: 10%;
    vertical-align: middle;
    text-align: center;
    line-height:normal;
    font-family: 'Trebuchet MS', sans-serif;
    font-size:120%;
    font-weight: bold;
    margin: 2%;
    padding: 5px;
}

.counter-body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.counter-container {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0px 4px 0px black;
}

.counter-btn {
    width: 50px;
    height: 40px;
    border: 2px solid black;
    border-radius: 15px;
    background: white;
    box-shadow: 0px 4px 0px black;
    font-size: 20px;
}

.counter-btn:hover {
    box-shadow: 0px 2px 0px black;
    transform: translate(0, 2px);
}

.counter-btn:active {
    box-shadow: 0px 0px 0px black;
    transform: translate(0, 4px);
}

.reset {
    width: 80px;
}

#counter-value {
    font-size: 20px;
    font-weight: bold;
}

#multiplier {
    font-size: 18px; 
}

#increase {
    font-size: 24px;
    font-weight: bold;
}

#decrease {
    font-size: 24px;
    font-weight: bold;
}