<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game UI</title>
    <link rel="stylesheet" href="../static/game_style.css">
</head>
<!DOCTYPE html>
<html lang="en">
</head>
<body>
    <div class="container">
        
    
        <div class="screen">
            <div class="center">
                <div class="top-box">
                    <div class="radio-container">
                        <div id="radio-placeholder"></div>
                    </div>
                    <div class="main-box"></div>
                </div>
                <div class="bottom-box">
                    <div></div>
                    <div class="buy-sell-buttons">
                        <button>Buy</button>
                        <button>Sell</button>
                    </div>
                </div>
            </div>

            <div class="news"></div>
        </div>
    </div>
    <script>
        fetch('../templates/objects/company_radio.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('radio-placeholder').innerHTML = data;
            });
    </script>
</body>
</html>

