<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Mode Selection</title>
    <!--Links to the css style file for button and heading-->
    <link rel="stylesheet" href="../static/menu_style.css">
    
</head>
<h1>HindSITE</h1>
<h2>Game Mode Selection</h2>
<body>
    <!--The button that brings us to the actual game screen-->
    <button onclick="startGame()">Start Game</button>
    
    <!-- <button onclick="startGame('default')">Default Game Mode</button> -->
    <p1>Enter Username:</p1>
    <input id="username" type="text" placeholder="Username">
    <script src="../static/menu_script.js"> </script>
</body>
</html>
